@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-light {
    --light-background: 0, 0%, 98%;
    --dark-background: 236, 33%, 92%;

    --text-main: 235, 19%, 35%;

    --circle-color: 236, 33%, 92%;

    --strike: 236, 9%, 61%;

    --off: 236, 9%, 61%;
  }

  .theme-dark {
    --light-background: 235, 24%, 19%;
    --dark-background: 235, 21%, 11%;

    --text-main: 234, 39%, 85%;

    --circle-color: 237, 14%, 26%;

    --strike: 233, 14%, 35%;

    --off: 234, 11%, 52%;
  }
}

/* josefin-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/josefin-sans-v32-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/josefin-sans-v32-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
